@font-face {
  font-family:saol ;
  src: url(NeueHaasDisplayMediu.ttf);
}
@font-face {
  font-family:lightsaol ;
  font-weight: 200;
  src:url(NeueHaasDisplayLight.ttf);
}
@font-face {
  font-family: mitu;
  font-weight: 300;
  src: url(NeueHaasDisplayMediumItalic.ttf);
}
.main{
  position: relative;
  z-index: 10;

}

*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: saol;

}
html, body{
  width: 100%;
  height: 100%;
}

.page1{
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;

  
}
.nav{
  padding: 3vw 0vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  

}

.nav-part2{
  display: flex;
  align-items: center;
  gap: 1vw;
}
.nav-part2 h4{
  padding: 10px 20px;
  border: 1px solid rgb(121, 118, 118);
  border-radius: 50px;
  font-weight: 600;
  color: rgb(83, 82, 82);
  font-size: 18px;
  position: relative; 
  transition: all ease 0.4s;
  overflow: hidden;

}
.nav-part2 h4::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}
.nav-part2 h4:hover::after{
  bottom: 0;
  border-radius: 0 ;
}
.nav-part2 h4 a{
  color:rgb(114, 108, 108) ;
  text-decoration: none;
  position: relative;
  z-index: 9;
}
.nav-part2 h4:hover a{
  color: #ffffff;
}
.center{
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #0000003C;
  padding-bottom: 2.5vw;
}
.left h3{
  width: 25vw;
  font-size: 1.8vw;
  line-height: 2vw;

}
.center h1{
  font-size: 10vw;
  line-height: 8vw;
  text-align: right;
  margin-bottom: 60px;
}
.page1 video{
  width: 100%;
  border-radius: 20px;
  margin-top: 4vw;
  position: relative;

}
.hero-shape{
  position: absolute;
  width: 46vw;
  height: 36vw;
  right: 0;
  top: 72vh;

}
.hero1{
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #fe320a;
  filter: blur(20px);
  position: absolute;
  
}
.hero2{
  
  height: 25vw;
  width: 30vw;
  background-color: #fe320a;
  filter: blur(25px);
  border-radius: 50%;
  position: absolute;
  animation-name: anime2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;

  
}
.hero3{
 
  height: 25vw;
  width: 30vw;
  background: linear-gradient(#fe320a, #fe570a);
  filter: blur(25px);
  border-radius: 50%;
  position: absolute;
  animation-name: anime1;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  
}

@keyframes anime1 {
  from{
    transform:translate(45%,-3%);
  }
  to{
    transform: translate(10%,-10%);
  }
  
}
@keyframes anime2 {
  from{
    transform:translate(5%,-5%);
  }
  to{
    transform: translate(-20%,20%);
  }
  
}




.page2{
  min-height: 100vh;
  width: 100%;
  padding: 8vw 0;
  background-color: #efeae3;
  position: relative;



}
.moving-text::-webkit-scrollbar{
  display: none;
}
.moving-text{
  white-space: nowrap;
  overflow-x: auto;
}
.con{

 white-space: nowrap;
 display: inline-block;
 animation-name: move;
 animation-duration: 10s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
}
.moving-text h1{
  font-size: 9vw;
  display: inline-block;
}
.gola{
  height: 70px ;
  width: 70px;
  border-radius: 50%;
  background-color: #fe570a;
  display: inline-block;
  margin: 1vw 2vw;
}
@keyframes move {
  from{
    transform: translateX(0);
  }
  to{
    transform: translate(-100%);
  }
}

.page2-bottom{
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  3vw 4.5vw;
  position: relative;
  z-index: 9;
}
.page2-bottom h1{
  font-size: 4vw;
  width: 60%;
  line-height: 4vw;


}
.bottom-part2{
  width: 25%;


}
.bottom-part2 img{
  width: 100%;
  border-radius: 15px;
}
.bottom-part2 p{
  font-family: lightsaol;
  margin-top: 2vw;
  font-size: 1.2vw;
  
  
}
.page2 .gooey{
  height: 32vw;
  width: 32vw;
  position: absolute;
  border-radius: 50%;
  background:linear-gradient( to top,#fe320a ,#ee840a);
  top: 50%;
  left: 25%;
  filter: blur(20px);
  animation-name: gooeye;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes gooeye  {
  form{
  filter: blur(20px);

    transform: translate(10% ,-10%) skew(0);
  }
  to{
  filter: blur(30px);

    transform: translate(-10% ,10%)skew(-12deg);
  }
  
}



.gooey1{
  height: 100%;
  width: 100%;


}
.page3{
  min-height: 100vh;
  width: 100%;
  padding: 4vw 0;
  background-color: #efeae3;

}
.elem{
  min-height: 150px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 2vw;
  border-bottom: 1px solid black;
  overflow: hidden;


}
.elem h2{
  font-size: 3vw;
  position: relative;
  z-index: 9;
  }
.elem .overlay{
  height: 100%;
  width: 100%;
  background-color: #F1A61A;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all ease 0.3s;
}
.elem:hover .overlay{
  top: 0;
}
.fixed-image{
  height: 29vw;
  width: 23vw;
  border-radius: 10px;
  position: fixed;
  z-index: 99;
  left: 50%;
  top: 27%;
  display: none;
  background-size: cover;
  background-position: center;

}

.page4{
  height: 80vh;
  width: 100%;
  background-color: #efeae3;
  padding: 10vw  2vw;
}
.page5{
  height: 100vh;
  width: 100%;
}

.footer{
  position: fixed;
  height: 105vh;
  width: 100%;
  bottom: 0;
  z-index: 9;
  background: linear-gradient( to top , black ,  yellow, orange);
  display: flex;
  /* align-items: flex-end;
   */justify-content: flex-end;
  flex-direction: column;
  padding: 1vw 3vw;

}
.footer h1{
  font-size: 22vw;
  color: rgb(139, 128, 128);
  text-shadow:  4px 8px rgba(0, 0, 0, 0.311);

}
.footer-div{
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #fff;
}
.footer-bottom{
  border-top: 1px solid #dadada;
  height: 10vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content:space-between;
  align-items: center;
  

}
.footer-div h2{
  font-size: 2.5vw;
  font-family: mitu;


}
.email p{
  font-family:lightsaol ;
  margin-bottom: 30px;

}
.email h3{
border-bottom: 1px solid blanchedalmond;

}
.email h3 i{
  font-size: 20px;
  margin-left: 90px;
  color: #efeae3;
  
}
.footer-bottom p{
  font-family: mitu;
}



.swiper {
  width: 100%;
  height: 100%;
  cursor:grab;
}
.swiper-slide {
  font-size: 18px;
  border-left: 1px solid #0000005e;
  padding: 0 2vw;
}
.swiper-slide {
  width: 30%;
}
.swiper-slide p{

  font-family: mitu;
}


.nav h3{
  display: none;
}


@media (max-width:600px) {
  .page1{
    
      min-height: 100vh;
      width: 100%;
      padding: 0 0vw;
    
      
  }
    .nav{
      padding: 8vw 0vw;
      background-color: #EFEAE3;
      
      
    
    }
    
    .nav-part2{
      display: none;
    }
    
       
    
    .nav img{
      transition: all ease 0.2s;
      height: 9vh;
    }
    .center{
      height: 70vh;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      border-bottom: 1px solid #0000003C;
      padding-bottom: 2.5vw;
      flex-direction: column-reverse;
      padding: 7vw 5vw;
      padding-bottom: 10vw;
      position: relative;
      z-index: 9;
    }
    .left h3{
      width: 80%;
      font-size: 5.8vw;
      line-height: 7vw;
    
    }
    .center h1{
      font-size: 17vw;
      line-height: 17vw;
      text-align: right;
      margin-bottom: 60px;
    }
    .page1 video{
      width: 92%;
      height: 70vh;
      object-fit: cover;
      object-position: center;
      border-radius: 15%;
      margin-top: 4vw;
      position: relative;
      margin-left: 4%;
    
    }
    .hero-shape{
      position: absolute;
      width: 82vw;
      height: 56vw;
      right: 0;
      top: 72vh;
    
    }
    .gola{
      height: 20px ;
      width: 20px;
      border-radius: 50%;
      background-color: #fe570a;
      display: inline-block;
      margin: 1vw 2vw;
    }
    .page2-bottom{
      height: 90vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding:  4vw 10vw;
      position: relative;
      z-index: 9;
    }
    .page2-bottom h1{
      font-size: 8.2vw;
      width: 90%;
      line-height: 8vw;
    
    
    }
    .bottom-part2{
      width: 80%;
    
    
    }
    .bottom-part2 img{
      width: 100%;
      border-radius: 15px;
    }
    .bottom-part2 p{
      font-family: lightsaol;
      margin-top: 2vw;
      font-size: 3vw;
      
      
    }
    
    .page2 .gooey{
      height: 62vw;
      width: 62vw;
      position: absolute;
      border-radius: 50%;
      background:linear-gradient( to top,#fe320a ,#ee840a);
      top: 50%;
      left: 25%;
      filter: blur(20px);
      animation-name: gooeye;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }
    
.swiper {
  width: 100%;
  height: 100%;
  cursor: no-drop;
}
.swiper-slide {
  font-size: 18px;
  border-left: 1px solid #0000005e;
  padding: 0 3vw;
}
.swiper-slide {
  width: 50%;
}
.swiper-slide p{

  font-family: mitu;
}
.footer{
  position: fixed;
  height: 105vh;
  width: 100%;
  bottom: 0;
  z-index: 9;
  background-color: rgb(10, 10, 10);
  display: flex;
  /* align-items: flex-end;
   */justify-content: flex-end;
  flex-direction: column;
  padding: 1vw 3vw;

}
.footer h1{
  font-size: 22vw;
  color: white;
  padding-bottom: 1vw;

}
.footer-div{
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #fff;
}
.footer-bottom{
  border-top: 1px solid #dadada;
  height: 10vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column ;
  justify-content:space-between;
  align-items: baseline;
  

}
.footer-div h2{
  font-size: 2.5vw;
  font-family: mitu;


}

.email p{
  font-family:lightsaol ;
  margin-bottom: 30px;

}
.email h3{
border-bottom: 1px solid blanchedalmond;

}
.email h3 i{
  font-size: 20px;
  margin-left: 90px;
  color: #efeae3;
  
}
.footer-bottom p{
  font-family: mitu;
}

  }
  

.loader{
  height: 100%;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 9099;
  top: 0;
  transition: all ease 0.8s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader h1{
  font-size: 4vw;
  color: transparent;
  background: linear-gradient( to right ,orange ,rgb(255, 81, 0));
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  animation-name: load;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
}
.loader h1:nth-child(2){
  animation-delay: 2.5s; 
}
.loader h1:nth-child(3){
  animation-delay: 3.9s;
}
@keyframes load {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
